
body{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-around;
}

.nav {
    position: absolute;
    width: 95%;
    background: transparent;
    top: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    z-index: 2;
    border-bottom: 2px solid #eaeaea; 


    padding: 19px 20px 10px 120px;
}

.nav ul {
    display: flex;
    list-style: none;
}



.nav .logo img {
    width: 147px;
    height: 50px;
}



.nav ul li a {
    text-decoration: none;
    color: #FFF;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 70.187%;
    margin: 50px 54px 0px 0px;
    padding: 0 8px 19px;

}
.nav ul li a:hover {
    border-radius: 3px;
    border-bottom: 4px solid #eaeaea; 
    z-index: 3;
}
.nav .button button{
    background: transparent;
    border: none;
}

.nav .button button a{
    
    background: #F4511E;
    color: white;
    font-feature-settings: 'salt' on, 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    padding: 15px 20px;
    border-radius: 10px;
    text-decoration: none;


}



.background img{
    width: 100%;
    height: 400px;
}


/* sign in form  */

.box{
    display: flex;
    width: 1200px;
    margin:auto;
    margin-top: 30px;
    border-radius: 26px;
    box-shadow: 0px 0px 35px 35px rgba(0, 0, 0, 0.2);
    position: relative;
    top: -7rem;
    margin-bottom: 300px;
    background-color: white;

}
.box .textdiv{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 55px;
    align-items: center;
}

.box .textdiv .form_header{
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.box .textdiv span{
    color: #000;
text-align: center;
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
display: block;
}


.form_logo{
    padding: 50px;
    margin-bottom: 30px;
    background-color: rgb(0, 0, 0);

}



.iconsgrid{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    text-align: center;
    

}

.icons{
    text-align: center;
    width: 150px;
}



.formdiv{
    border-left: rgba(0, 0, 0, 0.10) solid;
    width: 50%;
    padding: 50px;
}


.formdiv .head {
    margin: auto;
    width: 100%;
    justify-content: center;
display: flex;
margin-top: 30px;
height: 40px;
margin-bottom: 30px;

}

.formdiv .head button{
    background:transparent;
    margin: 0px  30px;
    border: none;


    color: #000;
font-family: Roboto;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.formdiv .head button:hover{
   
    border-bottom: #68ACFD solid 5px;
    border-radius: 2px;
}
.formdiv .google{
    display: flex;
    align-items: center;
    border-radius: 5px;
background: #434FAA;
justify-content: center;
position: relative;
width: 100%;
height: 40px;

}
.formdiv .google button{
    color: #FFF;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
border: none;
background: transparent;
}

.formdiv .google button:hover{
    cursor: pointer;
}

.formdiv .google svg{
    position: absolute;
    left: 30px;
}

.formdiv form{
    display: flex;
    flex-direction: column;
}


.formdiv form  input{
    
height: 40px;
flex-shrink: 0;
margin: 20px 0;
border-radius: 5px;

font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: normal;
padding: 0px 0px 0px 20px;
}


form .checkbox{
    display: flex;
    align-items: center;
    height: 50px;
}

form input[type="checkbox"]{
    width: 20px;
    margin-right: 30px;
}

form button{
    margin-top: 20px;
    border-radius: 5px;
background: var(--blue-2, #68ACFD);
padding: 11px 0;
border: none;
color: white;
}

.formdiv span{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.formdiv a{
    color: #9FCBFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}







/* footer   */
#footer {
    margin: 0rem 10rem;
    padding: 6rem 0;
}

footer {
    width: 100%;
    height: 872.77px;
    background: #2D363C;
}


.footer-row {
    display: flex;
    justify-content: space-between;
    color: white;
}

.footer-row .col h1 {
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    /* 155.556% */
    letter-spacing: 1px;
    text-transform: uppercase;
}

.footer-row .col ul {
    list-style: none;
    padding: 0;
}


.footer-row .col ul li {
    display: flex;
    width: 100%;
    padding: 5px 0px 21px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 26px;
}

a {
    text-decoration: none;
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 114.286% */
}


.footer-social span {
    color: white;
}

.footer-social ul {
    list-style: none;
    padding: 0;

}

.footer-social ul li {
    display: flex;
    width: 100%;
    padding: 5px 0px 21px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 26px;
}