<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

  <link rel="stylesheet" href="../css/Advertise.css" type="text/css" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
  <div class="wrap">
    <div class="items--container">
      <button class="button--one">Advertise</button>
      <span><svg xmlns="http://www.w3.org/2000/svg" width="25" height="26" viewBox="0 0 25 26" fill="none">
          <path
            d="M12.5 0.500488C5.59716 0.500488 0 6.09655 0 12.9999C0 19.9033 5.59661 25.4994 12.5 25.4994C19.4039 25.4994 25 19.9033 25 12.9999C25 6.09655 19.4039 0.500488 12.5 0.500488ZM12.5 4.23797C14.7841 4.23797 16.635 6.08941 16.635 8.37242C16.635 10.656 14.7841 12.5069 12.5 12.5069C10.217 12.5069 8.36609 10.656 8.36609 8.37242C8.36609 6.08941 10.217 4.23797 12.5 4.23797ZM12.4973 22.2314C10.2192 22.2314 8.13274 21.4017 6.52343 20.0285C6.1314 19.6941 5.90519 19.2038 5.90519 18.6893C5.90519 16.3739 7.77914 14.5208 10.0951 14.5208H14.906C17.2225 14.5208 19.0893 16.3739 19.0893 18.6893C19.0893 19.2044 18.8642 19.6936 18.4716 20.028C16.8629 21.4017 14.7759 22.2314 12.4973 22.2314Z"
            fill="black" />
        </svg></i></span>
    </div>
  </div>

  <div class="icon--container">
    <span class="first--icon">
      <img src="../assests/assests/Group.svg" alt="" />
    </span>
    <span class="line"></span>
    <span class="second--icon">
      <img src="../assests/assests/view 1.svg" alt="" /> </span><span class="line"></span>
    <span class="third--icon">
      <img src="../assests/assests/phone-call 2.svg" alt="" /> </span><span class="line"></span>
    <span class="four--icon">
      <img src="../assests/assests/confirm 2.svg" alt="" />
    </span>
  </div>

  <div class="category--section--container">
    <div>
      <div class="category--left--section">
        <h5 class="title">Category</h5>

        <div class="input--container">
          <div class="input--one">
            <label for="Housing">Housing</label>
            <input type="text" required />
          </div>

          <div class="input--two">
            <label for="housing">Type</label>
            <select name="housing" id="cars">
              <option value="lorem1">lorem1</option>
              <option value="lorem">lorem2</option>
              <option value="lorem">lorem3</option>
            </select>
          </div>
        </div>
      </div>
      <div class="main--section">
        <div class="second--container">
          <div class="information--title">
            <h5>General Information</h5>
          </div>
          <div class="input--three">
            <label for="title--general">Title</label>
            <input type="text" required />
          </div>
          <div class="input--four">
            <label for="expalin--general">Explaination</label>
            <input type="text" required />
          </div>

          <div class="inputs--wrap">
            <div class="input--five">
              <label for="price--general">Price</label>
              <input type="text" required />
            </div>
            <div class="input--six">
              <label for="type--general">Type</label>
              <select name="housing" id="cars">
                <option value="lorem1">lorem1</option>
                <option value="lorem">lorem2</option>
                <option value="lorem">lorem3</option>
              </select>

            </div>
          </div>

          <div class="input--five">
            <label for="price--general">Number of Room</label>
            <input type="text" required />
          </div>
          <div class="input--five">
            <label for="price--general">Number of Living Room</label>
            <input type="text" required />
          </div>
          <div class="input--five">
            <label for="price--general">Gross M<sup>2</sup> </label>
            <input type="text" required />
          </div>

          <div class="input--five">
            <label for="price--general">Net M <sup>2</sup></label>
            <input type="text" required />
          </div>
          <div class="input--five">
            <label for="price--general">Warming Type</label>
            <select name="housing" id="cars">
              <option value="lorem1">lorem1</option>
              <option value="lorem">lorem2</option>
              <option value="lorem">lorem3</option>
            </select>
          </div>
          <div class="input--five">
            <label for="price--general">Building Age</label>
            <input type="text" required />
          </div>
          <div class="input--five">
            <label for="price--general">Floor Location</label>
            <input type="text" required />
          </div>
          <div class="input--five">
            <label for="price--general">Available for Loan</label>
            <select name="housing" id="cars">
              <option value="lorem1">lorem1</option>
              <option value="lorem">lorem2</option>
              <option value="lorem">lorem3</option>
            </select>
          </div>
          <div class="input--five">
            <label for="price--general">Furnished</label>
            <select name="housing" id="cars">
              <option value="lorem1">lorem1</option>
              <option value="lorem">lorem2</option>
              <option value="lorem">lorem3</option>
            </select>
          </div>
          <div class="input--five">
            <label for="price--general">Status</label>
            <select name="housing" id="cars">
              <option value="lorem1">lorem1</option>
              <option value="lorem">lorem2</option>
              <option value="lorem">lorem3</option>
            </select>
          </div>
          <div class="inputs--wrap">
            <div class="input--five">
              <label for="price--general">Dues</label>
              <input type="text" required />
            </div>
            <div class="input--six">
              <label for="type--general">Type</label>
              <select name="housing" id="cars">
                <option value="lorem1">lorem1</option>
                <option value="lorem">lorem2</option>
                <option value="lorem">lorem3</option>
              </select>
            </div>
          </div>
          <div class="input--five">
            <label for="price--general">Swap</label>
            <select name="housing" id="swap">
              <option value="lorem1">lorem1</option>
              <option value="lorem">lorem2</option>
              <option value="lorem">lorem3</option>
            </select>
          </div>
          <div class="input--five">
            <label for="price--general">Font</label>
            <select name="housing" id="font">
              <option value="lorem1">lorem1</option>
              <option value="lorem">lorem2</option>
              <option value="lorem">lorem3</option>
            </select>
          </div>
          <div class="inputs--wrap">
            <div class="input--five">
              <label for="price--general">Rental Income</label>
              <input type="text" required />
            </div>
            <div class="input--six">
              <label for="type--general">Type</label>
              <select name="housing" id="dues">
                <option value="lorem1">lorem1</option>
                <option value="lorem">lorem2</option>
                <option value="lorem">lorem3</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="location--container">
        <div class="location--head">
          <h4>Location Information</h4>
        </div>
        <div class="location--inputs--wrap">
          <div class="location--only--five--container">
            <div class="location--input--five">
              <label for="price--general">Province</label>
              <select name="housing" id="Province">
                <option value="lorem1">lorem1</option>
                <option value="lorem">lorem2</option>
                <option value="lorem">lorem3</option>
              </select>
            </div>
            <div class="location--input--five">
              <label for="price--gene
          ral">District</label>
              <select name="housing" id="district">
                <option value="lorem1">lorem1</option>
                <option value="lorem">lorem2</option>
                <option value="lorem">lorem3</option>
              </select>
            </div>
          </div>
          <div class="location--input--five">
            <label for="price--general">Neighborhood </label>
            <select name="housing" id="Neighborhood">
              <option value="lorem1">lorem1</option>
              <option value="lorem">lorem2</option>
              <option value="lorem">lorem3</option>
            </select>
          </div>
        </div>
        <div class="map--container">
          <div class="map--wrap">
            <iframe class="gmap_iframe" width="100%" height="100%" frameborder="0" scrolling="no"
                            marginheight="0" marginwidth="0"
                            src="https://maps.google.com/maps?width=408&amp;height=340&amp;hl=en&amp;q=bharatpur,nepal&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
          </div>
         
        </div>
      </div>
      <div class="photo--uploading--container">
        <div class="header--wrap">
          <h5>Posting Photos</h5>
        </div>
        <div class="container--container">
          <span>
            <img src="../assests/assests/picture 1.svg" alt="" />
          </span>
          <span class="limit--cont"> You can add 30 photos to your ad </span>
          <span class="photos--upload--container">
            <span>
              <img src="../assests/assests/camera 1.svg" alt="Camera Icon" />
            </span>
            <span>
              <p>Upload from Computer</p>
            </span>
          </span>
        </div>
        <label for="fileInput">
          <span class="file--label">
            <div class="loading--photo--container">
              <div class="second--loading--container">

                <span>
                  <img src="../assests/assests/Add Button.svg" alt="" />
                </span>
                <span>
                  <p>You can add 30 photos to your ad</p>
                </span>
                <input type="file" style="display: none;" id="fileInput" />
          </span> </label>
      </div>
    </div>
  </div>
  <div class="last--footer--wrapper">
    <div class="second--footer--wrappper">
      <div class="footer--first--title">
        <h3>Advertise Feature</h3>
      </div>
      <div class="second--interrior--title">
        <h4>Interrior Features</h4>
      </div>
      <div class="check--box--list--container">
        <div class="left--box--container">
          <span><input type="checkbox" /> <label>ADSL</label></span>
          <span><input type="checkbox" /> <label>Alarm</label></span>
          <span><input type="checkbox" /> <label>Balcony</label></span>
          <span><input type="checkbox" /> <label>Built-in Kitchen</label></span>
          <span><input type="checkbox" /> <label>Barbecue</label></span>
          <span><input type="checkbox" /> <label>Furnished</label></span>
          <span><input type="checkbox" /> <label>Laundry Room</label></span>
          <span><input type="checkbox" /> <label>Air Conditioning</label></span>
          <span><input type="checkbox" /> <label>Wallpaper</label></span>
          <span><input type="checkbox" /> <label>Dressing Room</label></span>
        </div>

        <div class="middle--box--container">
          <span><input type="checkbox" /> <label>Video Intercom</label></span>
          <span><input type="checkbox" /> <label>Jacuzzi</label></span>
          <span><input type="checkbox" /> <label>Shower</label></span>
          <span><input type="checkbox" /> <label> TV Satellite </label></span>
          <span><input type="checkbox" /> <label>Laminate</label></span>
          <span><input type="checkbox" /> <label>Panel Door</label></span>
          <span><input type="checkbox" /> <label>Marble Floor</label></span>
          <span><input type="checkbox" /> <label>Blinds</label></span>
          <span><input type="checkbox" /> <label>Sauna</label></span>
          <span><input type="checkbox" /> <label>Parent Bathroom<label></span>
        </div>
        <div class="right--box--container">
          <span><input type="checkbox" /> <label>Parquet</label></span>
          <span><input type="checkbox" /> <label>Satin Plaster</label></span>
          <span><input type="checkbox" /> <label>Satin Color</label></span>
          <span><input type="checkbox" /> <label>Ceramic Floor</label></span>
          <span><input type="checkbox" /> <label>Spotlight</label></span>
          <span><input type="checkbox" /> <label>Fireplace</label></span>
          <span><input type="checkbox" /> <label>Terrace</label></span>
          <span><input type="checkbox" /> <label>Cloakroom</label></span>
          <span><input type="checkbox" /> <label>UnderFloor Heating</label></span>
          <span><input type="checkbox" /> <label>Double Glazing</label></span>
        </div>
      </div>
      <div class="external--container">
        <div class="second--interrior--title">
          <h4>External Features</h4>
        </div>
        <div class="check--box--list--container">
          <div class="left--box--container">
            <span><input type="checkbox" /> <label>Elevator</label></span>
            <span><input type="checkbox" /> <label>Gardened</label></span>
            <span><input type="checkbox" /> <label>Fitness</label></span>
            <span><input type="checkbox" /> <label>Security</label></span>
            <span><input type="checkbox" />
              <label>Thermal Insulation</label></span>
            <span><input type="checkbox" /> <label>Generator</label></span>
          </div>

          <div class="middle--box--container">
            <span><input type="checkbox" /> <label>Doorman</label></span>
            <span><input type="checkbox" /> <label>Car Park</label></span>
            <span><input type="checkbox" /> <label>Playground</label></span>
            <span><input type="checkbox" /> <label> PVC </label></span>
            <span><input type="checkbox" /> <label>Siding</label></span>
            <span><input type="checkbox" /> <label>Water Tank</label></span>
          </div>
          <div class="right--box--container">
            <span><input type="checkbox" /> <label>Tennis Court</label></span>
            <span><input type="checkbox" /> <label>Fire Escape</label></span>
            <span><input type="checkbox" /> <label>Swimming Pool</label></span>
            <span><input type="checkbox" /> <label>Football Field</label></span>
            <span><input type="checkbox" /> <label>BasketBall</label></span>
            <span><input type="checkbox" /> <label>Market</label></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="button--box">
    <button class="button--container--one">
     <a href="/Views/SecondAdv.html">Next</a>
    </button>
  </div>

  </div>
  <div class="right--box--wrapper">
    <div class="bulb--img">
      <img src="../assests/assests/light-bulb 1.svg" alt="" />
    </div>
    <div class="title--conta">Ad category selection</div>
    <div>
      <p>
        In order for your advertisement to be sold quickly, the information
        must be entered completely.
      </p>
    </div>
  </div>

</body>

</html>