<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />

    <link rel="stylesheet" href="../css/Advertise4.css" type="text/css" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body>
    <div class="wrap">
        <div class="items--container">
          <button class="button--one">Advertise</button>
          <span><svg xmlns="http://www.w3.org/2000/svg" width="25" height="26" viewBox="0 0 25 26" fill="none">
            <path d="M12.5 0.500488C5.59716 0.500488 0 6.09655 0 12.9999C0 19.9033 5.59661 25.4994 12.5 25.4994C19.4039 25.4994 25 19.9033 25 12.9999C25 6.09655 19.4039 0.500488 12.5 0.500488ZM12.5 4.23797C14.7841 4.23797 16.635 6.08941 16.635 8.37242C16.635 10.656 14.7841 12.5069 12.5 12.5069C10.217 12.5069 8.36609 10.656 8.36609 8.37242C8.36609 6.08941 10.217 4.23797 12.5 4.23797ZM12.4973 22.2314C10.2192 22.2314 8.13274 21.4017 6.52343 20.0285C6.1314 19.6941 5.90519 19.2038 5.90519 18.6893C5.90519 16.3739 7.77914 14.5208 10.0951 14.5208H14.906C17.2225 14.5208 19.0893 16.3739 19.0893 18.6893C19.0893 19.2044 18.8642 19.6936 18.4716 20.028C16.8629 21.4017 14.7759 22.2314 12.4973 22.2314Z" fill="black"/>
          </svg></i></span>
        </div>
      </div>
  
      <div class="icon--container">
        <span class="first--icon">
          <img src="../assests/assests4/Group.svg" alt="" />
        </span>
        <span class="line"></span>
        <span class="second--icon">
          <img src="../assests/assests4/view 1.svg" alt="" /> </span
        ><span class="line"></span>
        <span class="third--icon">
          <img src="../assests/assests4/phone-call 2.svg" alt="" /> </span
        ><span class="line"></span>
        <span class="four--icon">
          <img src="../assests/assests4/confirm 2.svg" alt="" />
        </span>
      </div>
      <div class="main--section--container">
        <div class="first--wrapper">
            <div class="second--img--container">
                <img src="../assests/assests4/confirm.svg" alt="">
            </div>
            <div class="para--container">
               <p>Your ad has been published successfully.
.</p> 
            </div>
            <div class="second--para--container">
                <p>
 We Thank you.

<a href="/" >Go Back</a>

</p> 
             </div>
        </div>
      </div>
  </body>
</html>
